body {
    background-color: #e681c9;
}

.wrapper {
    width: 960px;
}

#logo {
    position: relative;
    margin-left: 408px;
}

.img {
    width: 50%;
    position: relative;
    margin: -58px 366px;
    z-index: -1;
}

.hangman {
	position: relative;
	top: 60px;

}

h2,
h3 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 27px;
    padding: 2px;
    position: relative;
    margin-left: 21px;
    margin-top: 10px;
}

h3 {
    font-size: 18px;
}

.inst {
    position: relative;
    bottom: 254px;
}

#start {
    position: relative;
    bottom: 258px;
}

.word {
    position: relative;
    bottom: 245px;
}

.guess {
    position: relative;
    bottom: 240px;
}

#guesses {
    font-size: 25px;
    left: 51px;
}

.letters {
    position: relative;
    bottom: 233px;
}

#dispword {
    margin-left: 70px;
    font-size: 42px;
}

#wins,
#losses,
#guesses,
#dispword,
#displetters {
    position: relative;
    padding: 2px;
    margin-left: 21px;
}

#displetters,
#wins,
#losses {
    font-size: 30px;
}

.win {
    position: relative;
    float: right;
    bottom: 358px;
}

.loss {
    position: relative;
    float: right;
    bottom: 299px;
    left: 102px;
}
