
body {
	background-color: #e681c9;
}
.wrapper{
	width: 960px;
}

#logo{
	position: relative;
	margin-left: 408px;	
}

.img{
	width: 50%;
	position: relative;
	margin: -58px 366px;
    z-index: -1;
}

h2{
	font-family: Impact, Charcoal, sans-serif;
    font-size: 27px;
    padding: 2px;
    position: relative;
    margin-left: 21px;
    margin-top: 10px;	

}

#wins, #guesses, #dispword, #displetters{

	position: relative;
	padding: 2px;
	margin-left: 21px;
}